body {
    font-family: "Ubuntu", sans-serif;
    background-color: #fff;
    font-style: normal;
    color: #000;
}

.blogintro {
  display: flex;
  justify-content: space-evenly;
  margin: 48px 20px 89px 20px;
}

.textoblogintro {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.textoblogintro h1 {
  font-weight: 700;
  font-size: 47px;
  line-height: 54px;
  color: #009688;
  max-width: 500px;
}

.textoblogintro p {
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  max-width: 460px;
  margin-top: 40px;
}
