.header-article {
  background-color: #2e948a;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
  font-family: "Ubuntu", sans-serif;
  align-items: center;
  margin-bottom: 10rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fdfdfd;
}

.logo-header {
  display: flex;
  color: #ffffff;
  align-items: flex-end;
  padding-left: 5.69vw;
  font-style: normal;
  font-weight: 500;
  font-size: 56px;
  line-height: 64px;
}

.logo-header img {
  padding-right: 11px;
}

.logo-header p {
  margin-bottom: -7px;
}

nav {
  padding-right: 7.15vw;
}

nav ul {
  display: flex;
  padding: 47px 0;
}

nav a {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}

.link-blog {
  padding: 0 37px 0 42px;
}

@media only screen and (max-width: 768px) {
  .link-blog {
    padding: 0 2.57vw 0 2.92vw;
  }
  nav ul {
    padding: 32px 0;
  }
  .logo-header img {
    padding-right: 0.76vw;
    max-width: 50px;
  }
  .logo-header {
    font-size: 40px;
    line-height: 44px;
  }
  .logo-header p {
    margin-bottom: -5px;
  }
}

@media only screen and (max-width: 480px) {
  .logo-header p {
    display: none;
  }
}
