body {
  font-family: "Ubuntu", sans-serif;
  background-color: #fff;
  font-style: normal;
  color: #000;
}

.header-article {
  margin-bottom: 0;
}

.blogintro {
  display: flex;
  justify-content: space-evenly;
  margin: 48px 100px 89px 130px;
  padding: 0 30px;
}

.textoblogintro {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textoblogintro h1 {
  font-weight: 700;
  font-size: 47px;
  line-height: 54px;
  color: #009688;
  max-width: 500px;
}

.textoblogintro p {
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  max-width: 460px;
  margin-top: 50px;
}

.artigospaginablog {
  background-color: #f7f7f7;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 4vw 4vw 8vw 4vw;
}

.artigospaginablog article {
  max-width: 518px;
  padding: 50px 4.2vw;
  object-fit: cover;
  height: 500px;
}

.artigospaginablog h5 {
  font-weight: 500;
  font-size: 30px;
  line-height: 34px;
  padding: 19px 0;
}

.artigospaginablog a {
  color: #ff4081;
}

.artigospaginablog p {
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
}

@media only screen and (max-width: 1024px) {
  .blogintro {
    margin: 48px 5vw 89px 9vw;
    padding: 0 2vw;
  }

  .textoblogintro p {
    max-width: 32vw;
    margin-top: 3vw;
  }
  .textoblogintro h1 {
    font-size: 36px;
    line-height: 41px;
    max-width: 35vw;
  }
}

@media only screen and (max-width: 768px) {
  .blogintro {
    flex-direction: column-reverse;
    align-items: center;
  }
  .blogintro img {
    max-width: 300px;
    max-height: 300px;
  }
  .textoblogintro {
    align-items: center;
  }

  .textoblogintro p {
    max-width: 70vw;
    margin-top: 3vw;
  }
  .textoblogintro h1 {
    font-size: 36px;
    line-height: 41px;
    max-width: 70vw;
    margin-top: 15px;
  }
  .artigospaginablog {
    padding: 59px 50px 120px 50px;
  }
  .artigospaginablog article {
    max-width: 60vw;
    padding: 50px 50px;
  }

  .artigospaginablog img {
    max-width: 60vw;
  }
}

@media only screen and (max-width: 480px) {
  .blogintro {
    margin: 30px 50px 50px 50px;
    padding: 0;
  }
  .blogintro img {
    max-width: 200px;
    max-height: 200px;
  }
  .artigospaginablog {
    padding: 20px 50px 120px 50px;
  }

  .artigospaginablog article {
    padding: 40px 60px;
    height: fit-content;
  }

  .artigospaginablog h5 {
    padding: 12px 0;
    font-size: 24px;
    line-height: 28px;
  }
}
