* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu";
}

header.header-article {
  margin-bottom: 5rem;
}

main {
  padding-bottom: 134px;
}

.cabecalho {
  margin: 0 auto;
  width: 90%;
  padding-bottom: 27px;
}

.cabecalho h1 {
  color: #ff4081;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 69px;
}

.cabecalho h3 {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  font-style: normal;
  color: #555555;
}

article {
  display: flex;
  width: 85%;
  margin: 68px auto;
  justify-content: center;
}

article img {
  width: 380px;
  height: 380px;
  margin-right: 53px;
}

.descricao-curso {
  width: 50%;
}

article h2 {
  color: #ff4081;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 40px;
}

article p {
  padding-top: 37px;
  text-align: justify;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
}

article button {
  width: 40%;
  height: 51px;
  margin-top: 53px;
  background: #419488;
  border-radius: 62px;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-style: normal;
  line-height: 23px;
  text-align: center;
}

hr {
  width: 90%;
  margin: 0 auto;
  border: 2px solid #c4c4c4;
}

@media only screen and (max-width: 1024px) {
  header.header-article {
    margin-bottom: 40px;
  }

  article img {
    width: 40%;
    height: 40%;
  }

  .descricao-curso {
    width: 40%;
  }

  article button {
    width: 100%;
    margin-top: 30px;
  }

  article h2 {
    font-size: 28px;
    line-height: 32px;
  }

  article p {
    padding-top: 20px;
  }
}

@media only screen and (max-width: 768px) {
  article {
    flex-direction: column;
    align-items: center;
    width: 80%;
  }

  article img {
    width: 50%;
    height: 50%;
    margin: 0;
    margin-bottom: 30px;
  }

  .descricao-curso {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  article button {
    width: 80%;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 480px) {
  .cabecalho h1 {
    font-size: 44px;
    line-height: 54px;
  }

  .cabecalho h3 {
    font-size: 16px;
    line-height: 18px;
  }

  article img {
    width: 80%;
    height: 80%;
  }
}
