* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  font-size: 16px;
  overflow-x: hidden;
  font-family: "Ubuntu";
}

.header-article {
  margin-bottom: 0;
}

.um {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 8rem 0 4rem 0;
}

.intro-texto {
  width: 488px;
}

.intro-texto h1 {
  width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 69px;
  color: #ff4081;
}

.intro-texto h5 {
  width: 80%;
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 31px;
  color: #555555;
  padding: 40px 0;
}

.intro-texto button {
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 31px;
  width: 55%;
  height: 51px;
  border: 2px solid #ff4081;
  border-radius: 62px;
  color: #ff4081;
  cursor: pointer;
  background-color: #fff;
}

.intro img {
  width: 501px;
  height: auto;
}

.chamada-cursos {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  padding: 109px 0rem 119px 0rem;
  background-color: #f6f6f6;
}

.chamada-cursos div {
  display: flex;
  flex-direction: column;
  width: 344px;
  align-items: center;
}

.chamada-cursos img {
  height: auto;
  margin-bottom: 45px;
}

.chamada-cursos h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #ff4081;
  margin-bottom: 23px;
}

.chamada-cursos p {
  font-size: 18px;
  font-weight: 300;
  width: 19rem;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 26px;
}

.chamada-cursos a {
  display: flex;
  width: 100%;
  justify-content: center;
}

.chamada-cursos button {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #fff;
  background: #ff4081;
  border-radius: 62px;
  border: none;
  width: 68%;
  height: 51px;
  cursor: pointer;
}

.depoimentos {
  padding: 119px 177px 155px 77px;
}

#falam {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 37px;
  line-height: 50px;
  color: #009688;
  padding-left: 48px;
}

.depoimentos div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.dep {
  display: flex;
  margin: 45px 48px;
}

.depoimentos .dep-ind {
  font-size: 18px;
  font-weight: 300;
  display: flex;
  justify-content: flex-start;
  width: 340px;
  height: 95px;
  margin-left: 1rem;
  text-align: left;
}

.depoimentos #name {
  margin-top: 10px;
  font-weight: 400;
}

.depoimentos img {
  padding: 5px;
  margin: 5px;
  border: solid #ff4081;
  border-radius: 80px;
}

.conteudo-extra #mais {
  margin: 5rem 0rem 3rem 0rem;
  font-family: "Nunito";
  font-size: 37px;
  font-weight: 700;
  color: #009688;
}

.conteudo-extra {
  padding: 0rem 10rem 0rem 10rem;
  background-color: #f6f6f6;
}

.conteudo-extra div {
  display: flex;
  justify-content: space-between;
}

.conteudo-extra .mais {
  display: flex;
  flex-direction: column;
}

.conteudo-extra .title-card {
  color: #009688;
  font-size: 26px;
  font-weight: 700;
  margin: 0 auto;
}

.conteudo-extra .prev {
  width: 300px;
  font-weight: 400;
  font-size: 20px;
  text-align: justify;
}

.conteudo-extra img {
  margin: 0 auto;
}

.mais div {
  margin: 0 auto;
}

.conteudo-extra button {
  margin-top: 3rem;
  width: 268px;
  height: 51px;
  border: 2px solid #ff4081;
  border-radius: 62px;
  font-weight: 400;
  font-size: 24px;
  color: #ff4081;
  cursor: pointer;
  background-color: #fff;
}

.conteudo-extra #button {
  justify-content: center;
  margin-bottom: 10rem;
  cursor: pointer;
}

@media only screen and (max-width: 480px) {
  .um {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 1rem;
    width: 100vw;
  }

  .intro div div {
    width: 300px;
    height: 390px;
  }
  .mobile-remove {
    display: none;
  }

  .um h1 {
    width: 270px;
    font-size: 52px;
  }

  .um h5 {
    width: 294px;
    font-size: 24px;
  }

  .um img {
    display: none;
  }

  .chamada-cursos {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 1rem;
    width: 100vw;
  }

  .chamada-cursos div {
    margin-bottom: 20%;
  }

  h4 {
    font-size: 26px;
    line-height: 2rem;
  }

  .chamada-cursos p {
    width: 288px;
  }

  #falam {
    width: 300px;
    font-size: 37px;
    font-weight: 700;
    color: #009688;
  }

  .depoimentos {
    padding: 16px;
  }

  .dep {
    width: 300px;
  }

  .dep .dep-ind {
    width: 280px;
  }

  .conteudo-extra {
    display: flex;
    flex-direction: column;
    padding: 16px;
  }

  .conteudo-extra div {
    display: flex;
    flex-direction: column;
  }

  .conteudo-extra .mais {
    margin-bottom: 50px;
    margin: 0 auto;
  }

  .mais div {
    margin: 0 auto;
  }

  .conteudo-extra a {
    width: 250px;
  }

  .conteudo-extra .prev {
    width: 290px;
    margin: 0 auto;
  }

  .conteudo-extra button {
    margin-top: 0rem;
    width: 200px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
  }

  .conteudo-extra #button {
    margin: 0 auto;
    width: 200px;
    justify-content: center;
    margin-bottom: 0rem;
    cursor: pointer;
  }
}

@media only screen and (min-width: 481px) and (max-width: 884px) {
  .um {
    display: flex;
    margin-top: 0px;
    margin-bottom: 1rem;
    width: 100vw;
  }

  .intro div div {
    width: 300px;
    height: 390px;
  }

  .um h1 {
    width: 270px;
    font-size: 52px;
  }

  .um h5 {
    width: 294px;
    font-size: 24px;
  }

  .um img {
    width: 350px;
    margin-top: 26px;
  }

  .chamada-cursos {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    margin-bottom: 1rem;
    width: 100vw;
  }

  .chamada-cursos div {
    margin-bottom: 20%;
  }

  .chamada-cursos img {
    width: 460px;
    height: 380px;
    margin: 0 auto;
  }

  h4 {
    font-size: 32px;
    line-height: 4rem;
  }

  .chamada-cursos p {
    width: 420px;
    font-size: 24px;
    font-weight: 400;
  }

  #falam {
    width: 480px;
    font-size: 37px;
    font-weight: 700;
    color: #009688;
  }

  .depoimentos {
    padding: 20px;
    font-weight: 400;
  }

  .dep {
    width: 300px;
  }

  .dep .dep-ind {
    width: 280px;
  }

  .conteudo-extra {
    display: flex;
    flex-direction: column;
    padding: 16px;
  }

  .conteudo-extra div {
    display: flex;
    flex-direction: column;
  }

  .conteudo-extra img {
    width: 430px;
  }

  .conteudo-extra .title-card {
    font-size: 32px;
    line-height: 4rem;
  }

  .conteudo-extra .mais {
    margin-bottom: 50px;
  }

  .conteudo-extra .prev {
    width: 420px;
    font-size: 24px;
    font-weight: 400;
    margin: 0 auto;
  }

  .conteudo-extra button {
    margin-top: 0rem;
    width: 200px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
  }

  .conteudo-extra #button {
    margin: 0 auto;
    width: 200px;
    justify-content: center;
    margin-bottom: 0rem;
    cursor: pointer;
  }
}
