* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    font-size: 16px;
    overflow-x: hidden;
    font-family: 'Ubuntu';
}

.um {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    margin: 8rem 0rem 8rem 0rem;
    padding: 1rem;
}

.intro div div {
    width: 500px;
    height: 513px;
}



h1 {
    font-weight: 700;
    color: #FF4081;
    font-size: 60px;
    position: absolute;
    width: 24rem;
    height: 14rem;
}

h5 {
    font-weight: 400;
    font-size: 26px;
    position: absolute;
    width: 20rem;
    height: 4rem;
    top: 16rem;
}

.intro button {
    position: absolute;
    width: 268px;
    height: 51px;
    top: 22rem;
    border: 2px solid #FF4081;
    border-radius: 62px;
    font-weight: 400;
    font-size: 24px;
    color: #FF4081;
    cursor: pointer;
    background-color: #fff;
}

.intro img {
    width: 503px;
}



.chamada-cursos {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    margin: 10rem 0rem 8rem 0rem;
    padding: 1rem;
    background-color: #F6F6F6;

}

.chamada-cursos div {
    display: flex;
    flex-direction: column;
}

.chamada-cursos img {
    align-items: center;
    width: 288;
    height: 270px;

}

h4 {
    font-size: 26px;
    font-weight: 700;
    line-height: 5rem;
    text-align: center;
    color: #FF4081;
}

.chamada-cursos p {
    font-size: 18px;
    font-weight: 300;
    width: 19rem;
    text-align: center;
    margin: 0 auto;
}

.chamada-cursos button {
    color: #fff;
    background-color: #FF4081;
    border: none;
    font-size: 20px;
    width: 233px;
    height: 40px;
    border-radius: 62px;
    margin: 0 auto;
    margin-top: 2rem;
    cursor: pointer;
}

.chamada-cursos a{
    margin: 0 auto;
}


#falam {
    font-family: 'Nunito';
    font-size: 37px;
    font-weight: 700;
    color: #009688;
}

.depoimentos div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.depoimentos .dep {
    display: flex;
    margin: 2rem 0rem 2rem 0rem;
    /* width: 600px; */
}

.depoimentos .dep-ind {
    font-size: 18px;
    font-weight: 300;
    display: flex;
    justify-content: flex-start;
    /* flex-direction: column; */
    width: 340px;
    height: 95px;
    margin-left: 1rem;
    text-align: left;
}

.depoimentos #name {
    margin-top: 10px;
    font-weight: 400;
}

.depoimentos {
    padding: 0rem 10rem 0rem 10rem;
}

.depoimentos img {
    padding: 5px;
    margin: 5px;
    border: solid #FF4081;
    border-radius: 80px;
}

.conteudo-extra #mais {
    margin: 5rem 0rem 3rem 0rem;
    font-family: 'Nunito';
    font-size: 37px;
    font-weight: 700;
    color: #009688;
}

.conteudo-extra {
    padding: 0rem 10rem 0rem 10rem;
    background-color: #F6F6F6;
}

.conteudo-extra div {
    display: flex;
    justify-content: space-between;
}

.conteudo-extra .mais {
    display: flex;
    flex-direction: column;
}

.conteudo-extra .title-card {
    color: #009688;
    font-size: 26px;
    font-weight: 700;
    margin: 0 auto;
    
}

.conteudo-extra .prev {
    width: 300px;
    font-weight: 400;
    font-size: 20px;
    text-align: justify;
}

.conteudo-extra img {
    margin: 0 auto;
}

.mais div{
    margin: 0 auto;
}

.conteudo-extra button {
    margin-top: 3rem;
    width: 268px;
    height: 51px;
    border: 2px solid #FF4081;
    border-radius: 62px;
    font-weight: 400;
    font-size: 24px;
    color: #FF4081;
    cursor: pointer;
    background-color: #fff;
}

.conteudo-extra #button {
    justify-content: center;
    margin-bottom: 10rem;
    cursor: pointer;
}

@media only screen and (max-width: 480px) {


    /* .intro{
        display: flex;
        margin-left: 5.5vw;
        align-content: center;
        margin: 0 auto;
    } */
    .um {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        margin-bottom: 1rem;
        width: 100vw;



    }

    .intro div div {
        width: 300px;
        height: 390px;
        
    }
    .mobile-remove{
        display: none;
    }


    .um h1 {
        width: 270px;
        font-size: 52px;
    }

    .um h5 {
        width: 294px;
        font-size: 24px;
    }  

    .um img {
        display: none;
    }

    .chamada-cursos {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        margin-bottom: 1rem;
        width: 100vw;
    }

    .chamada-cursos div {
        margin-bottom: 20%;
    }


    h4 {
        font-size: 26px;
        line-height: 2rem;
    }

    .chamada-cursos p {
        width: 288px;
    }

    #falam {
        width: 300px;
        font-size: 37px;
        font-weight: 700;
        color: #009688;
    }

    .depoimentos {
        padding: 16px;
    }

    .dep {
        width: 300px;

    }

    .dep .dep-ind {
        width: 280px;
    }

    .conteudo-extra {
        display: flex;
        flex-direction: column;
        padding: 16px;
    }

    .conteudo-extra div {
        display: flex;
        flex-direction: column;
    }

    .conteudo-extra .mais {
        margin-bottom: 50px;
        margin: 0 auto;
    }

    .mais div{
        margin: 0 auto;
    }

    .conteudo-extra a{
        width: 250px;
    }

    .conteudo-extra .prev {
        width: 290px;
        margin: 0 auto;
    }

    .conteudo-extra button {
        margin-top: 0rem;
        width: 200px;
        height: 40px;
        font-size: 20px;
        cursor: pointer;
    }

    .conteudo-extra #button {
        margin: 0 auto;
        width: 200px;
        justify-content: center;
        margin-bottom: 0rem;
        cursor: pointer;
    }
}




@media only screen and (min-width: 481px) and (max-width: 884px) {
    .um {
        display: flex;
        margin-top: 0px;
        margin-bottom: 1rem;
        width: 100vw;



    }

    .intro div div {
        width: 300px;
        height: 390px;
    }


    .um h1 {
        width: 270px;
        font-size: 52px;
    }

    .um h5 {
        width: 294px;
        font-size: 24px;
    }

    .um img {

        width: 350px;
        margin-top: 26px;
    }

    .chamada-cursos {
        display: flex;
        flex-direction: column;
        margin-top: 10vh;
        margin-bottom: 1rem;
        width: 100vw;
    }

    .chamada-cursos div {
        margin-bottom: 20%;
    }

    .chamada-cursos img {
        width: 460px;
        height: 380px;
        margin: 0 auto;
    }


    h4 {
        font-size: 32px;
        line-height: 4rem;
    }

    .chamada-cursos p {
        width: 420px;
        font-size: 24px;
        font-weight: 400;
    }

    #falam {
        width: 480px;
        font-size: 37px;
        font-weight: 700;
        color: #009688;
    }

    .depoimentos {
        padding: 20px;
        font-weight: 400;
    }

    .dep {
        width: 300px;

    }

    .dep .dep-ind {
        width: 280px;
    }

    .conteudo-extra {
        display: flex;
        flex-direction: column;
        padding: 16px;
    }

    .conteudo-extra div {
        display: flex;
        flex-direction: column;
    }

    .conteudo-extra img {
        width: 430px;
    }

    .conteudo-extra .title-card {
        font-size: 32px;
        line-height: 4rem;
    }

    .conteudo-extra .mais {
        margin-bottom: 50px;
    }

    .conteudo-extra .prev {
        width: 420px;
        font-size: 24px;
        font-weight: 400;
        margin: 0 auto;
    }

    .conteudo-extra button {
        margin-top: 0rem;
        width: 200px;
        height: 40px;
        font-size: 20px;
        cursor: pointer;
    }

    .conteudo-extra #button {
        margin: 0 auto;
        width: 200px;
        justify-content: center;
        margin-bottom: 0rem;
        cursor: pointer;
    }


}