* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu";
}

.header-article {
  margin-bottom: 0;
}

.cabecalho {
  display: flex;
  justify-content: center;
  margin: 80px 0;
}

.cabecalho-texto {
  width: 32vw;
  padding-right: 3vw;
}

.cabecalho h1 {
  font-weight: 700;
  font-size: 55px;
  line-height: 63px;
  color: #ff4081;
  font-style: normal;
  padding-bottom: 22px;
}

.cabecalho p {
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  font-style: normal;
  color: #000000;
}

.cabecalho img {
  width: 26.4vw;
  height: 26.4vw;
  padding-left: 3vw;
}

.corpo {
  width: 100%;
  background-color: #f7f7f7;
}

.corpo article {
  padding: 75px 0;
  display: flex;
  justify-content: center;
}

.aula {
  max-width: 35%;
  margin-left: 36px;
}

.aula h2 {
  font-weight: 700;
  font-size: 35px;
  line-height: 40px;
  margin-bottom: 26px;
  color: #ff4081;
  font-style: normal;
}

.aula p {
  font-weight: 300;
  font-size: 20px;
  color: #000000;
  line-height: 23px;
  font-style: normal;
}

article iframe {
  width: 32%;
  height: auto;
  margin-right: 32px;
  border-radius: 20px;
  box-shadow: 10px 10px 8px 0.5px rgba(0, 0, 0, 0.16);
}

hr {
  margin-left: 82px;
  margin-right: 114px;
  border: 2px solid #c4c4c4;
}

@media only screen and (max-width: 768px) {
  /* .cabecalho {
    margin: 5%;
  } */
  /* .cabecalho h1 {
    font-size: 35px;
  } */

  /* .cabecalho p {
    font-size: 16px;
  } */
  /* .cabecalho img {
    padding-top: 20px;
    width: 50vw;
    height: 25vh;
  } */
  /* .corpo {
    background-color: #fff;
  } */

  /* article {
    display: block;
    padding: 7%;
  } */
  /* article h2 {
    padding-top: 20px;
    margin: 0;
    font-size: 25px;
  } */

  /* article p {
    margin: 0;
    font-size: 16px;
  } */

  /* article video {
    width: 90vw;
    height: 35vh;
  } */
}

@media only screen and (max-width: 480px) {
  /* .cabecalho {
    display: block;
    margin: 5%;
  } */
  /* .cabecalho h1 {
    font-size: 35px;
  } */

  /* .cabecalho p {
    font-size: 16px;
  } */
  /* .cabecalho img {
    padding-top: 20px;
    width: 90vw;
    height: 45vh;
  } */
  /* .corpo {
    background-color: #fff;
  } */

  /* article {
    display: block;
    padding: 7%;
  } */
  /* article h2 {
    padding-top: 20px;
    margin: 0;
    font-size: 25px;
  } */

  /* article p {
    margin: 0;
    font-size: 16px;
  } */

  /* article video {
    width: 90vw;
    height: 30vh;
  } */
}
