*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;   
    font-size: 16px;
    overflow-x: hidden;
    font-family: 'Ubuntu';
}

.um{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    margin: 8rem 0rem 8rem 0rem;
    padding: 1rem;
}

.intro div div{
    width: 500px;
    height: 513px;
}



h1{    
    font-weight: 700;
    color: #FF4081;
    font-size: 60px;
    position: absolute;
    width: 24rem;
    height: 14rem;
}

h5{
    font-weight: 400;
    font-size: 26px;
    position: absolute;
    width: 20rem;
    height: 4rem;
    top: 16rem;
}

.intro button{
    position: absolute;
    width: 268px;
    height: 51px;
    top: 22rem;
    border: 2px solid #FF4081;
    border-radius: 62px;
    font-weight: 400;
    font-size: 24px;
    color: #FF4081;    
}

.intro img{
    width: 503px;
}

    

.chamada-cursos{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    margin: 10rem 0rem 8rem 0rem;
    padding: 1rem;

}

.chamada-cursos div{
    display: flex;
    flex-direction: column;  
}

.chamada-cursos img{
    align-items: center;
    width: 288;
    height: 270px;
    
}

h4{
    font-size: 26px;
    font-weight: 700;
    line-height: 5rem;
    text-align: center;
    color: #FF4081;
}

.chamada-cursos p{
    font-size: 18px;
    font-weight: 300;
    width: 19rem;
    text-align: center;
    margin: 0 auto;
}

.chamada-cursos button{
    color: #fff;
    background-color: #FF4081;
    border: none;
    font-size: 20px;
    width: 233px;
    height: 40px;
    border-radius: 62px;
    margin: 0 auto;
    margin-top: 2rem;  
}


#falam{
    font-family: 'Nunito';
    font-size: 37px;
    font-weight: 700;
    color: #009688;    
}

.depoimentos div{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;       
}

.depoimentos .dep {
    display: flex;
    margin: 2rem 0rem 2rem 0rem;
    /* width: 600px; */
}

.depoimentos .dep-ind{
    font-size: 18px;
    font-weight: 300;
    display: flex;
    justify-content: flex-start;
    /* flex-direction: column; */
    width: 340px;
    height: 95px;
    margin-left: 1rem;
    text-align: left;     
}

.depoimentos #name{
    margin-top: 10px;
    font-weight: 400;
}

.depoimentos{
    padding: 0rem 10rem 0rem 10rem;
}

.depoimentos img{
    padding: 5px;
    margin: 5px;
    border:solid #FF4081 ;
    border-radius: 80px;
}